/vendor/
/.phpunit.cache/
vendor/
folioClientLog.txt
testClient.txt
composer.lock
folioLog.txt
fileExportTest.csv
lsedemo.ini
.phpunit.result.cache
test*.mrc
test*.csv

debugText.txt
folioClientLog_bu.txt
instance-all-3035.mrc
phpFolioClient2.code-workspace
instance-all-3069.mrc
scripts/**/*.json
scripts/**/folioClientLog.txt
