<phpunit colors="true" bootstrap="vendor/autoload.php" displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="My Project Tests">
            <directory>tests</directory>
            <exclude>tests/test.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>

