<phpunit colors="true" bootstrap="vendor/autoload.php" displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerDeprecations="true" displayDetailsOnPhpunitDeprecations="true" 
        displayDetailsOnTestsThatTriggerNotices="true" failOnNotice="true"
        displayDetailsOnSkippedTests="true" >
    <source>
        <include>
            <directory>tests</directory>
        </include>
        <exclude>
            <file>tests/test.php</file>
        </exclude>
    </source>
</phpunit>

